.tape {
  pointer-events: none;
}

.animated {
  background-size: 64px 100%;
  animation: slide var(--tape-speed, 3s) linear infinite;
}

.reverse {
  animation-direction: reverse;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 64px 0;
  }
}
